body{
    background:rgb(88, 88, 238);
}
img{
    width:250px;
}
.galeri{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 50px;
    margin-bottom: 25px;
}
.galeri2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 50px;
}
.galeri img:hover{
    width:500px;
    /* grid-column: span 2; */
    /* grid-row: 1; */
}
.galeri2 img:hover{
    width:600px;
    /* grid-column: span 2; */
    /* grid-row: 1; */
}
.galeri img{
    transition: all 1000ms ease-in-out;
    transition-delay: 900ms;
}
.galeri2 img{
    transition: all 1000ms ease-in-out;
    transition-delay: 900ms;
}
a{
    color: gold;
}